a:link, a:visited, a:hover, a:active {
    color: rgb(73%, 73%, 73%);  /* 50% gray */
}

a.csv-download {
    margin-left: 68px;
    font-size: 90%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Lucida Grande", Arial, sans-serif;
    line-height: 1.25;
}

#chart-container {
    margin-top: 24px;
}

#content {
    margin: 0 16px;
}

#main-form td.label {
    text-align: right;
}

#main-form td.input input {
    width: 150px;
}

hr {
    width: 95%;
}
